@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

* {
  margin: 0;
  padding: 0;
}

html { 
  background: url(../../images/raycharles.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

section:nth-child(1){
  font-size: 120px;
  color: white;
  min-height: 100vh;
}

section:nth-child(2){
  background: url(../../images/raycharlestatuecopy.jpg) no-repeat center center fixed;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

section:nth-child(3) {
  height:75vh;
  background-image: url(../../images/raycharles2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section:nth-child(4){
  background-color: #090D0C;
  min-height: 100vh;
}

section:nth-child(5){
  background: url(../../images/smokyjazz.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

section:nth-child(6){
  background-color: #090D0C;
  min-height: 100vh;
}

section:nth-child(7){
  background: url(../../images/smokyjazz.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}


/* FLEX */
.flex-container {
  background: transparent;
  gap: 20px;
  display: flex;
  border: 0px solid black;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  display: flex;
  background: transparent;
  border: 0px solid salmon;
  flex: 1;
  gap: 20px;
}

.flex-container .banner {
  position: absolute;
  top:0;
  font: 20pt Roboto Light;
  padding: 16px;
  width: 95vw;
  justify-content: space-between;
}

.flex-container .lowerbanner {
  position: absolute;
  bottom:0;
  font: 20pt Roboto Light;
  padding: 16px;
  width: 95vw;
  justify-content: space-between;
}

.flex-container .section1title {
  flex-direction: column;
  align-items: center;
}

.flex-container .playbutton {
  width: fit-content;
  align-self: center;
  padding-top: 50px;
  transform: scale(2);
}

.flex-container .section2content {
  padding: 40px;
  gap:100px;
  align-items: center;
  justify-content: center;
}

.flex-container .section2header {
  color: #F5F5F5;
  padding-top: 50px;
  padding-bottom: 150px;
  justify-content: center;
}

.flex-container .section2text {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font: 24pt Roboto Light;
  padding: 25px;
  background-color: rgba(0,0,0, 0.15);
  backdrop-filter: blur(10px);
  border-radius:10px;
  align-items: center;
  justify-content: center;
}

.flex-container .section3text {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font: 16pt Roboto Light;
  padding: 25px;
  background-color: rgba(0,0,0, 0.15);
  backdrop-filter: blur(10px);
  border-radius:10px;
  align-items: center;
  justify-content: center;
}

.flex-container .section2photo {
  border-radius: 10px;
}

img {
  max-height:100%;
  max-width: 100%;
}